.container {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    background-image: url(background.png);
  }
.row {
    display: flex;
    flex-wrap: wrap;
}
.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
    border: 1px solid black;
}
.col-1 { flex-basis: 8.3333%;}
.col-2 { flex-basis: 16.6667%;}
.col-3 { flex-basis: 24.9999%;}
.col-4 { flex-basis: 33.3332%;}    
.col-5 { flex-basis: 41.6665%;}
.col-6 { flex-basis: 49.9998%;}
.col-7 { flex-basis: 58.331%;}
.col-8 { flex-basis: 66.6664%;}
.col-9 { flex-basis: 74.9997%;}
.col-10 { flex-basis: 83.3333%;}
.col-11 { flex-basis: 91.6663%;}
.col-12 { flex-basis: 100%;}
.pages {
    color: black;
    font-weight: bolder;
    font-size: 11px;
    margin: 20px;
    }
.header {
   padding: 30px;
}
.logo {
    padding: 20px;
}
.color-red img {
    max-width: 110%;
}
 .logo img, .color img, .size img, .colors img, .ellipse img {
   
}
button {
    background-color: red;
    color: white;
    text-align: center;
    font-size: 11px;
    height: 40px;
    width: 180px;
}
.intone {
    margin: 30px;
    padding-top: 60px;
}
.button-1 {
    background-color: red;
    color: white;
    text-align: center;
    font-size: 11px;
    height: 30px;
    width: 100px;

}
.FEATURES {
    text-align: center;
}
.headphones img, .speakers img, .bluetooth img {
    max-width: 100%;
    align: middle;
}
.size img {
    opacity: 0.2;
}
.colors img {
    opacity: 1;
}
h4 {
    text-align: center;
}
p {
   font-size: 14px;
}
.colors {
    align-content: center;
}
